<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>管理系统</title>
    <link rel="stylesheet" href="/assets/components/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/page.css">
</head>

<body>
<div class="control-search">
    <div class="control-search-item">
        <label>权限组ID:</label>
        <input type="text" id="readPermissionGroupId" placeholder="请输入权限组ID" autocomplete="off">
    </div>
    <div class="control-search-item">
        <label>权限组名:</label>
        <input type="text" id="readPermissionGroupName" placeholder="请输入权限组名" autocomplete="off">
    </div>
    <div class="control-search-item">
        <button class="layui-btn layui-btn-sm" onclick="readPermissionGroup()">查询</button>
    </div>
</div>
<div class="control-tool">
    <button class="layui-btn layui-btn-sm layui-btn-warm" onclick="openUpdatePermissionGroupBox()">编辑</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="deletePermissionGroup()">删除</button>
    <button class="layui-btn layui-btn-sm" onclick="openCreatePermissionGroupBox()">新建</button>
</div>
<table id="permissionGroupTable" lay-filter="permissionGroupTableFilter"></table>

<script id="createPermissionGroupBox" type="text/html">
    <form class="layui-form" lay-filter="createPermissionGroupFormFilter">
        <div class="layui-form-item">
            <label class="layui-form-label">权限组名</label>
            <div class="layui-input-block">
                <input type="text" name="permissionGroupName" required lay-verify="required" placeholder="请输入权限组名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="description" required lay-verify="required" placeholder="请输入权限组描述" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="createPermissionGroupBtnFilter">立即提交</button>
            </div>
        </div>
    </form>
</script>

<script id="updatePermissionGroupBox" type="text/html">
    <form class="layui-form" lay-filter="updatePermissionGroupFormFilter">
        <input type="hidden" name="permissionGroupId">
        <div class="layui-form-item">
            <label class="layui-form-label">权限组名</label>
            <div class="layui-input-block">
                <input type="text" name="permissionGroupName" required lay-verify="required" placeholder="请输入权限组名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="description" required lay-verify="required" placeholder="请输入权限组描述" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="updatePermissionGroupBtnFilter">立即提交</button>
            </div>
        </div>
    </form>
</script>

<script src="/assets/js/jquery-2.2.3.min.js "></script>
<script src="/assets/components/layui/layui.all.js"></script>
<script src="/assets/js/global.js"></script>
<script>
    layui.table.render({
        elem: '#permissionGroupTable',
        even: true,
        size: 'sm',
        url: '/api/permissionGroup/readPermissionGroup',
        request: {
            pageName: 'pageNumber',
            limitName: 'pageSize'
        },
        response: {
            statusName: 'code',
            statusCode: 0,
            msgName: 'message',
            countName: 'total',
            dataName: 'data'
        },
        page: {
            theme: '#c00'
        },
        cols: [
            [
                {type: 'checkbox'},
                {field: 'permissionGroupId', title: 'ID', width: 50},
                {field: 'createTime', title: '创建时间', width: 145},
                {field: 'updateTime', title: '更新时间', width: 145},
                {field: 'permissionGroupName', title: '权限组名', width: 150},
                {field: 'description', title: '描述'}
            ]
        ]
    });

    /**
     * 获取最新的权限组
     */
    function readPermissionGroup() {
        layui.table.reload('permissionGroupTable', {
            where: {
                permissionGroupId: $('#readPermissionGroupId').val(),
                permissionGroupName: $('#readPermissionGroupName').val()
            },
            page: {
                curr: 1
            }
        });
    }

    /**
     * 删除权限组
     */
    function deletePermissionGroup() {
        var dataList = layui.table.checkStatus('permissionGroupTable').data;
        if (dataList.length <= 0) {
            layer.msg('请选择需要删除的数据!');
            return;
        }
        if (dataList.length > 1) {
            layer.msg('每次只能删除一条数据!');
            return;
        }
        var data = dataList.pop();
        layer.confirm("确定删除[" + data.permissionGroupName + "]?", {
            title: '',
            btnAlign: 'c',
            closeBtn: 0,
            move: false
        }, function (index) {
            $.post('/api/permissionGroup/deletePermissionGroup', {permissionGroupId: data.permissionGroupId}, function (result) {
                layer.msg(result.message);
                if (result.code === 0) {
                    readPermissionGroup();
                    layui.layer.close(index);
                }
            }).error(function (result) {
                layer.msg(result.responseJSON.message);
            });
        });
    }

    var createPermissionGroupLayerIndex;

    /**
     * 打开新建权限组框
     */
    function openCreatePermissionGroupBox() {
        createPermissionGroupLayerIndex = layui.layer.open({
            type: 1,
            move: false,
            title: '创建权限组',
            content: $("#createPermissionGroupBox").html(),
            area: ['500px', '350px'],
            success: function (layero, index) {
                layui.form.render(null, 'createPermissionGroupFormFilter');
            }
        });
    }

    /**
     * 创建权限组
     */
    layui.form.on('submit(createPermissionGroupBtnFilter)', function (data) {
        $.post('/api/permissionGroup/createPermissionGroup', {permissionGroupName: data.field.permissionGroupName, description: data.field.description}, function (result) {
            layer.msg(result.message);
            if (result.code === 0) {
                readPermissionGroup();
                layui.layer.close(createPermissionGroupLayerIndex);
            }
        }).error(function (result) {
            layer.msg(result.responseJSON.message);
        });
        return false;
    });

    var updatePermissionGroupLayerIndex;

    /**
     * 打开更新权限组框
     */
    function openUpdatePermissionGroupBox() {
        var dataList = layui.table.checkStatus('permissionGroupTable').data;
        if (dataList.length <= 0) {
            layer.msg('请选择需要编辑的数据!');
            return;
        }
        if (dataList.length > 1) {
            layer.msg('每次只能编辑一条数据!');
            return;
        }
        var data = dataList.pop();
        updatePermissionGroupLayerIndex = layui.layer.open({
            type: 1,
            move: false,
            title: '更新权限组',
            content: $("#updatePermissionGroupBox").html(),
            area: ['500px', '350px'],
            success: function (layero, index) {
                layero.find("[name='permissionGroupId']").val(data.permissionGroupId);
                layero.find("[name='permissionGroupName']").val(data.permissionGroupName);
                layero.find("[name='description']").val(data.description);
                layui.form.render(null, 'updatePermissionGroupFormFilter');
            }
        });
    }

    /**
     * 更新权限组
     */
    layui.form.on('submit(updatePermissionGroupBtnFilter)', function (data) {
        $.post('/api/permissionGroup/updatePermissionGroup', {
            permissionGroupId: data.field.permissionGroupId,
            permissionGroupName: data.field.permissionGroupName,
            description: data.field.description
        }, function (result) {
            layer.msg(result.message);
            if (result.code === 0) {
                readPermissionGroup();
                layui.layer.close(updatePermissionGroupLayerIndex);
            }
        }).error(function (result) {
            layer.msg(result.responseJSON.message);
        });
        return false;
    });
</script>
</body>
</html>